 body {
    margin: 0;
    font-family: CustomSerif,Georgia,Cambria,'Times New Roman',serif;
    font-weight: 400;
    font-style: normal;
}

a {
    border-bottom: 0;
}

a:hover,
a:focus,
a:active {
    border-bottom: 0;
}

a.skip-main:focus, a.skip-main:active {
    text-decoration: none;
}

header nav:not(:empty){
    background-color: #666;
    border-radius: 5px 5px 0 0;
}

header nav a {
/*    background-color: #666; */
    color: #fff;
/*    border: 0;
    border-radius: 5px;
    padding: 3px; */
}

.common-header {
    border-bottom: none;
    padding-bottom: 0;
}

.homepage-content img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto .5em;
}

.site-title, .post-title, .post-info, h1, .terms {
    text-transform: uppercase;
    font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-weight: 600;
}

.site-title {
    background-color: #555;  
    border: 2px solid;
    border-radius: 20px 7px;
    padding-right: 15px;
    padding-left: 15px;
    color: #fff;
}

.inline-svg {
    color: #666;
}

.post-header {
    margin-bottom: 0;
}

blockquote {
    padding: 0em 1em;
    font-style: italic;
}

article header h1 {
    text-transform: uppercase;
    font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-size: 18px;
}

header nav:not(:empty){
    text-transform: uppercase;
    font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.pagination-item {
    font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-weight: 600;
    text-transform: lowercase;
    background: transparent;
    border-top: 1px solid grey;

    font-size: 15px;
}

.common-footer {
    border-top: thin solid grey;
}

.copyright {
    color: #555;
    text-transform: uppercase;
    font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-size: 13px;
}

.theme-switcher {
    color: #555;
    background: transparent;
    font-weight: 600;
    border: 2px solid #555;
    border-radius: 20px 7px;
    font-size: 15px;
}

.read-more {
    font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: lowercase;
}

.post-taxonomies {
    font-family: CustomSansSerif,'Lucida Grande',Arial,sans-serif;
    font-size: 12px;
    font-style: italic;
    text-transform: lowercase;
}

.post-info {
    margin-top: 0;
}

:root {
   /* light.css */
    --link-color:#f29602;
    --link-state-color:#f29602;
    --link-state-border-color: rgba(163, 29, 29, .5);
}
